
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Discover New High-Level Data</h5>
              </div>
              <div class="card-body all-icons">
                <div class="row">
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail" >
                      <a href="/buy/0">
                        <i class="now-ui-icons business_bulb-63" ></i>
                        <p>Amount of Light</p>
                      </a>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <a href="/buy/1">
                        <i class="now-ui-icons business_money-coins"></i>
                        <p>General Cost with Electricity</p>
                      </a>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <a href="/buy/2">
                        <i class="now-ui-icons media-1_button-play"></i>
                        <p>House State</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

