<!DOCTYPE html>
<html>
  	<head>
  		<meta charset="utf-8">
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{% block head %}
		<title>{% block title %}{% endblock %}</title>
		{% endblock %}
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css_old?family=Open+Sans:300,400">  
		<link rel="stylesheet" href="{{ url_for('static', filename='css_old/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css_old/bootstrap.min.css') }}">

		<link rel="stylesheet" href="{{ url_for('static', filename='css_old/demo.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css_old/templatemo-style.css') }}">

		<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.custom.86080.js') }}"></script>
	
	</head>
	<body>	
		<div id="particles-js"></div>
		<ul class="cb-slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<div class="container-fluid">
			<div class="row cb-slideshow-text-container ">
				{% block content %}
				{% endblock %}
			</div>
			<div class="footer-link">
				<p>Copyright &copy; 2020 DATA.IO</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="{{ url_for('static', filename='js/particles.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>